body {
  margin: 0;
  background-color: #001524;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
  font-size: 43px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}
.container {
  background-color: #003049;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-top: 100px;
  border-radius: 15px;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 13px;
  border: none;
  outline: none;
  font-size: 20px;
  width: 62%;
  border-radius: 10px;
}

form input[type="submit"] {
  background-color: #9f86c0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color .3s ease;
  margin-left: 10px;
}

form input[type="submit"]:hover {
  background-color: #023e8a;
}


.icons img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.temperatures {
  font-size: 48px;
  font-weight: bold;
  margin: 5px 0 20px 0;
  color: #fff;
}

.description {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: #023e8a;
  color: #fff;
  margin: 10px;
  flex: 1;
  border-radius: 10px;
  text-align: center;
  min-height: 35px;
  font-size: 18px;
}

@media(max-width: 770px){
  form {
    flex-direction: column;
  }
  form input[type="text"] {
    width: 100%;
    margin-bottom: 12px;
  }
}